<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/css/base.css" />  
    <title>Rate My Dining Hall</title>
  </head>
  <body>
    <h1>Rate My Dining Hall</h1>
    <h2>Today's Menu</p></h2>
    <center>
      <h2>Glasgow Menu</h2>
      <div class="row">
        <div class="column">
          <table>
            <tr>
              <h2>Breakfast</h2>
              <th>Fresh Baked Pastries</th>
              {% for food in FreshBakedPastries %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Cereal Station</th>
              {% for food in CerealStation %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Breakfast Offerings</th>
              {% for food in BreakfastOfferings %} 
                <td>{{ food }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="column">
        <table>
          <tr>
            <h2>Lunch</h2>
            <th>Salad, Deli, and More</th>
            {% for food in SaladDeliAndMoreLunch %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Wok Kitchen</th>
            {% for food in WokKitchenLunch %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Three-Sixty Grill</th>
            {% for food in ThreeSixtyGrillLunch %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>The Carvery</th>
            {% for food in TheCarveryLunch %} 
              <td>{{ food }}</td>
            {% endfor %}
            <th>Sweets And Treats</th>
            {% for food in SweetsAndTreatsLunch %} 
              <td>{{ food }}</td>
            {% endfor %}
            <th>Build Your Own Vegan Bowl</th>
            {% for food in BuildYourOwnVeganBowlLunch %} 
              <td>{{ food }}</td>
            {% endfor %}
          </tr>
        </table>
        </div>
        <div class="column">
          <table>
            <tr>
              <h2>Dinner</h2>
              <th>Salad, Deli, and More</th>
            {% for food in SaladDeliAndMoreDinner %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Wok Kitchen</th>
            {% for food in WokKitchenDinner %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Three-Sixty Grill</th>
            {% for food in ThreeSixtyGrillDinner %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>The Carvery</th>
            {% for food in TheCarveryDinner %} 
              <td>{{ food }}</td>
            {% endfor %}
            <th>Sweets And Treats</th>
            {% for food in SweetsAndTreatsDinner %} 
              <td>{{ food }}</td>
            {% endfor %}
            <th>Build Your Own Vegan Bowl</th>
            {% for food in BuildYourOwnVeganBowlDinner %} 
              <td>{{ food }}</td>
            {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <h2>Lothian Menu</h2>
      <div class="row">
        <div class="column">
        <table>
          <tr>
            <h2>Lunch</h2>
            <th>Build Your Own Bowl</th>
            {% for food in BuildYourOwnBowlLunch %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Soup And Deli Bar</th>
            {% for food in SoupAndDeliBarLunch %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Global Sizzle</th>
            {% for food in GlobalSizzleLunch %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Urban Kitchen</th>
            {% for food in UrbanKitchenLunch %} 
              <td>{{ food }}</td>
            {% endfor %}
            <th>The Grill</th>
            {% for food in TheGrillLunch %} 
              <td>{{ food }}</td>
            {% endfor %}
            <th>Comfort Table</th>
            {% for food in ComfortTableLunch %} 
              <td>{{ food }}</td>
            {% endfor %}
            <th>Desserts</th>
            {% for food in DessertsLunch %} 
              <td>{{ food }}</td>
            {% endfor %}
            <th>Village Garden</th>
            {% for food in VillageGardenLunch %} 
              <td>{{ food }}</td>
            {% endfor %}
          </tr>
        </table>
        </div>
        <div class="column">
          <table>
            <tr>
              <h2>Dinner</h2>
              <th>Build Your Own Bowl</th>
              {% for food in BuildYourOwnBowlDinner %} 
                  <td>{{ food }}</td>
              {% endfor %}
              <th>Soup And Deli Bar</th>
              {% for food in SoupAndDeliBarDinner %} 
                  <td>{{ food }}</td>
              {% endfor %}
              <th>Global Sizzle</th>
              {% for food in GlobalSizzleDinner %} 
                  <td>{{ food }}</td>
              {% endfor %}
              <th>Urban Kitchen</th>
              {% for food in UrbanKitchenDinner %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>The Grill</th>
              {% for food in TheGrillDinner %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Comfort Table</th>
              {% for food in ComfortTableDinner %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Desserts</th>
              {% for food in DessertsDinner %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Village Garden</th>
              {% for food in VillageGardenDinner %} 
                <td>{{ food }}</td>
              {% endfor %}
            </tr>
          </table>
          </div>
      </div>
    </center>
    </body>
    <p></p>
  </body>
</html>
