<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/base.css" />
    <title>Rate My Dining Hall</title>
  </head>
  <body>
    <h1>Rate My Dining Hall</h1>
    <p>Today's Menu</p>
    <form method="GET">
      <p></p>
      <button name="lothian" id="lothian">Lothian</button>
      <button name="glasgow" id="glasgow">Glasgow</button>
    </form>
    <br><br>
    <center>
      <div class="row">
        <div class="column">
          <table>
            <tr>
              <th>Breakfast</th>
              <th>Fresh Baked Pastries</th>
              {% for food in FreshBakedPastries %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Cereal Station</th>
              {% for food in CerealStation %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Breakfast Offerings</th>
              {% for food in BreakfastOfferings %} 
                <td>{{ food }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="column">
        <table>
          <tr>
            <th>Lunch</th>
            <th>Salad, Deli, and More</th>
            {% for food in SaladDeliAndMoreLunch %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Wok Kitchen</th>
            {% for food in WokKitchenLunch %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Three-Sixty Grill</th>
            {% for food in ThreeSixtyGrillLunch %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>The Carvery</th>
              {% for food in TheCarveryLunch %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Sweets And Treats</th>
              {% for food in SweetsAndTreatsLunch %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Build Your Own Vegan Bowl</th>
              {% for food in BuildYourOwnVeganBowlLunch %} 
                <td>{{ food }}</td>
              {% endfor %}
          </tr>
        </table>
        </div>
        <div class="column">
          <table>
            <tr>
              <th>Dinner</th>
              <th>Salad, Deli, and More</th>
            {% for food in SaladDeliAndMoreDinner %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Wok Kitchen</th>
            {% for food in WokKitchenDinner %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>Three-Sixty Grill</th>
            {% for food in ThreeSixtyGrillDinner %} 
                <td>{{ food }}</td>
            {% endfor %}
            <th>The Carvery</th>
              {% for food in TheCarveryDinner %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Sweets And Treats</th>
              {% for food in SweetsAndTreatsDinner %} 
                <td>{{ food }}</td>
              {% endfor %}
              <th>Build Your Own Vegan Bowl</th>
              {% for food in BuildYourOwnVeganBowlDinner %} 
                <td>{{ food }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </center>
    </body>
    <p></p>
  </body>
</html>
